@font-face {
    font-family: 'symantic-bold'; /*a name to be used later*/
    src: url('../fonts/Breymont-Bold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'symantic-light'; /*a name to be used later*/
    src: url('../fonts/Breymont-Light.ttf'); /*URL to font*/
}

.text-logo.symantic{
    font-family: "symantic-bold";
    letter-spacing: 5px;
    font-size:1.3em;
    display:block;
    line-height: 22px;
}
.text-logo.creative{
    font-family: "symantic-light";
    letter-spacing: 11px;
    font-size: 0.9em;
    display: block;
    line-height: 15px;
}

.syman-logo-svg{
    max-width:35px;
    margin-right:10px;
}

.syman-logo-svg.footer{
    color:#212121;
    max-width:35px;
    margin-right:10px;
}
.text-logo.symantic_footer{
    font-family: "symantic-bold";
    letter-spacing: 5px;
    font-size:1.5em;
    display:block;
    line-height: 22px;
    color: #212121;
}
.text-logo.creative_footer{
    font-family: "symantic-light";
    letter-spacing: 11.5px;
    font-size: 1em;
    display: block;
    line-height: 17px;
    color:#212121;
    padding-bottom:10px;
}

.navbar-inverse .navbar-nav .open > .nav-link, .navbar-inverse .navbar-nav .active > .nav-link, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .dropdown.show .nav-link {
    background-color: initial;
    border-bottom: 1px solid #31BFB3;
}
.nav-top-bar p a{
    color:#fff;
}

.grey-fade-over {
    background-color: rgba(41, 41, 41, 0.79);
}

.symscroll{
    font-family: "symantic-bold";
    letter-spacing: 5px;
}

.cbp-af-header.cbp-af-header-shrink.black-menu-background-1st-trans {
    background-color:  #232c33;
}

@media (max-width: 991px) {
    .black-menu-background-1st-trans {
        background-color: #232c33;
    }

    /*#menu-wrap {*/
        /*position: fixed;*/
    /*}*/
}

.background-dark {
    background-color: #232c33;
}
.background-dark-1 {
    background-color: #2f3b44;
}
.background-dark-2 {
    background-color: #232a2f;
}

.dropdown-header em{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
p.dropdown-text {
    display: block;
    width: 100%;
    padding: 3px 0.6rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    background: 0 0;
    border: 0;
}

a.dropdown-item.big_item{
    white-space: normal;

}
.cbp-af-header .navbar .nav-item .dropdown-menu a {
    padding-left: 0.6rem;
}

a.dropdown-item.big_item .dropdown-header{
    font-family: "symantic-bold";
    letter-spacing: 2px;
    display: block;
    margin-bottom: 0;
    font-size: 1rem;
    color: #636c72;
    white-space: normal;
    padding: 0;
    padding-bottom: 0.5rem;
}

p.dropdown-text.icon{
}

.dropdown-img{
    max-width:100%;
    padding: 3px 1.5rem;
}
.dropdown-button {
    max-width: 100%;
    padding: 3px 1.5rem;
}

.limit-logo{
    max-width:300px;
}

/*.main-title h2, .main-title h3, .main-title h4, .main-title h5 {*/
    /*text-transform: uppercase;*/
/*}*/

mark{
    padding-left:0;
    padding-right:0;
    width:100%;
}

.color-primary{
    color: #31BFB3;
}

.service-scroll a{
    color:inherit;
    text-decoration: none;
}
#home_services .services-box-1 i{
    font-size:60px;
}

.drop-mega-menu li {
    /*width: 33.33333333333%;*/
    width:50%;
}

@media (max-width: 991px){
    .drop-mega-menu li {
        display: block;
        float: none;
        padding-left: 0;
        padding-right: 0;
        border-right: none;
        width: 100%;
        border-bottom:1px solid #eaeaea;
        padding-bottom:1rem;
    }
}

a.original{
    text-decoration: none;
    color:inherit;
}
a.original:hover{
    color: #31BFB3;
}
